body{
    background-color: rgb(223, 186, 67);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
}
.wrapper{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width:100%;
    overflow:hidden;
    height:100%;
}

#count-flyin{
    grid-area: 1/1/4/4;
    font-size: 24vw;
    margin: 10vh auto;
    height: 10vh;
    text-transform: uppercase;
}

#count-flyin div{
    grid-area: 1/1/4/4;
    position: absolute;
    margin: 10vh 0;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: switch 10s linear 1;
}

/*Digits colors and time*/
#count-flyin div:nth-child(1){
    animation-delay: 2s;
    color: rgb(88, 60, 36);}

#count-flyin div:nth-child(2){
    animation-delay: 3.5s;
    color: darkcyan;}

#count-flyin div:nth-child(3){
    animation-delay: 4.5s;
    color: rgb(214, 95, 155);}

#count-flyin div:nth-child(4){
    animation-delay: 5.5s;
    color: darkolivegreen;}

#count-flyin div:nth-child(5){
    animation-delay: 6.5s;
    color: orangered;
}

@keyframes switch{
    0%{
        opacity: 0;
        filter: blur(20px);
        transform: scale(1);
    }

    3%{
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    10%{
        opacity: 1;
        filter: blur(0);
        transform: scale(0.9);
    }

    13%{
        opacity: 0;
        filter: blur(10px);
        transform: scale(0.1);
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

/*Spinning vinyl*/
img{
    grid-area: 1/1/2/4;
    display: block;
    opacity: 0;
    max-width: 400px;
	width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    animation: 5s linear spin infinite;
    animation-delay: 8s;
}
#vinyl {
    display: grid;
    grid-area: 2/2/3/3;
    justify-content: center;
    align-content: center;
    margin: 0;
}

@keyframes spin {
	0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.9;
	}
	100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.9;
	}
}
  
/* Text */
#first-text,
#second-text,
#third-text {
    display: grid;
    opacity: 0;
    animation: switch 20s linear 1;
    font-size: 5vw;
    justify-content: center;
    align-content: center;
}
#first-text {
    grid-area: 2/1/3/2;
    animation-delay: 9s;
    color: rgb(214, 95, 155);
    text-align: right;
}

#second-text {
    grid-area: 2/3/3/4;
    animation-delay: 11s;
    color: rgb(214, 95, 155);
    text-align: left;
}

#third-text {
    grid-area: 1/2/2/3;
    padding-top: 5%;
    padding-bottom: 5%;
    animation-delay: 13s;
    color: rgb(214, 95, 155);
    text-align: center;
}

/* Tunes */
.tunes-bottom{
    grid-area: 3/1/5/4;
    display: grid;
    animation: pulsate 1.25s infinite;  
    animation-delay: 15s;
    color: rgb(214, 95, 155);
    opacity: 0;
    font-size: 4vw;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}

@keyframes pulsate{
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
  }


/* Responsive small screens */
@media only screen and (max-width: 700px) and (min-width: 320px){
    .wrapper{
        width:100%;
        float:none;
        position:absolute;
        box-shadow:none;
        overflow:visible;
        min-height:100%;
    }

    #vinyl {
        grid-area: 2/1/3/4;
    }
    img{
        max-width: 200px;
    }
    /* Text */
    #first-text,
    #second-text,
    #third-text,
    .tunes-bottom {
        font-size: 7vw;
        text-align: center;
    }

    #first-text {
        grid-area: 1/1/2/4;
    }

    #second-text {
        grid-area: 3/1/4/4;
    }

    #third-text {
        grid-area: 1/1/2/4;
    }

   
}